#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.todo_item{
  display: flex;
  width: 800px;
  justify-content: space-between;
  border: 1px solid blue;
  
  border-radius: 8px;
}
.todo_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px;
}
.todo_delete{
  font-weight:  bold;

}
.todo_content strong{
  font-Weight: 'bold';
  font-Size: 30px;
  padding-Top: 10px;
}
.todos{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
